.home__content {
    display: flex;
    justify-content: space-between;
}

.home__title {
    font-weight: 500;
    font-size: 60px;
    max-width: 480px;
    margin-bottom: 30px;
}

.home__subtext {
    color: var(--gray);
    font-size: 32px;
    font-weight: 400;
    max-width: 575px;
}

.skills {
    margin: 135px 0 135px 0;
    max-width: 650px;
    font-size: 18px;
}

.main__soft {
    gap: 63px;
    display: flex;
}

.main__software {
    font-weight: 500;
    max-width: 124px;
    width: 100%;
}

.soft__description {
    font-weight: 400;
}

.programs {
    display: flex;
    padding-top: 24px;
    font-weight: 400;
}

.main__skill {
    padding-top: 70px;
    gap: 63px;
    display: flex;
}

.info {
    border-top: 2px solid;
}

.info__content {
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 500;
    max-width: 1041px;
}

.info__desc {
    display: inline-block;
}

.arrow {
    margin-left: 15px;
    display: inline-block;
}

.view {
    padding-top: 27px;
    font-size: 18px;
    font-weight: 400;
}