.skills {
    margin: 135px 0 135px 0;
    max-width: 650px;
    font-size: 18px;
}

.main__soft {
    gap: 63px;
    display: flex;
}

.main__software {
    font-weight: 500;
    max-width: 124px;
    width: 100%;
}

.soft__description {
    font-weight: 400;
}

.programs {
    display: flex;
    padding-top: 24px;
    font-weight: 400;
}

.main__skill {
    padding-top: 70px;
    gap: 63px;
    display: flex;
}


