.footer {
    padding-top: 130px;
    padding-bottom: 38px;
}

.footer__akif {
    color: var(--blue);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 500;
}

.footer__list {
    display: flex;
    gap: 30px;
}

@media (max-width: 992px) {
    .footer {
        padding-top: 100px;
    }
    .footer__inner {
        font-size: 19px;
    }
}