.header {
    padding: 5px 0;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__link {
    font-weight: 500;
    font-size: 21px;
    font-size: medium;
}

@media (max-width: 480px) {
    .header__link {
        font-size: 14px;
    }
}

@media (max-width: 424px) {
    .header__link {
        font-size: 14px;
    }
}